{% extends "base.html" %}

<!-- Set the page title (appears in browser tab) -->
{% block title %}Eatly - Meal Recommendations{% endblock %} {% block content %}
<section class="hero">

   <h2>Meal Recommendations</h2> 
  <div class="hero-content">
    <!-- Hipsum for styling while we craft this page -->

    Tell us how you’re feeling, what you’re craving, and what ingredients you already have.
    Our system will suggest meals that fit your mood, your taste, and your budget.
    Discover dishes you can cook at home or explore new flavors from the community.
  </div>
</section>

{% endblock %}
