{% extends "base.html" %}

<!-- Set the page title (appears in browser tab) -->
{% block title %}Eatly - Meal Recommendations{% endblock %} {% block content %}
<section class="hero">

   <h2>Meal Recommendations</h2> 
  <div class="hero-content">
    <!-- Hipsum for styling while we craft this page -->

    Raclette ethical brunch yr, DIY locavore bicycle rights la croix. Bitters
    adaptogen knausgaard, portland direct trade narwhal vibecession affogato
    mustache palo santo gatekeep stumptown. Sriracha swag tofu, man bun enamel
    pin freegan try-hard lumbersexual stumptown solarpunk yuccie pabst hashtag.
  </div>
</section>

{% endblock %}
